body {
  background-color: lightblue;
}

.darkblue-text{
  background-color: #db9833;
  color: darkblue;
  text-align: center;
  font-size: 34px;
  font-family: courier;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  background-color: #db9833;
  color: darkblue;
  text-align: center;
  font-style: normal;
  font-family: courier;
  font-size: 34px;
}
p {
  font-family: courier;
  font-size: 20px;
}
h2 {
  background-color: #db9833;
  color: darkblue;
  text-align: center;
  font-style: normal;
  font-family: courier;
  font-size: 34px;
}
h3 {
  color: darkblue;
  text-align: center;
  font-style: normal;
  font-family: courier;
  font-size: 34px;
}

.bigbox{
  width: 1460px;
  height: 420px;
  padding: -40px;
  background-color: #db9833;
}

.square1{
  width: 680px;
  height: 280px;
  background-color: blue;
  margin-top: 70px;
  margin-left: 10px;
  color: white;
  padding: 10px;
  background-color: lightblue;
}
h4{
  margin-top: 10px;
  color: darkblue;
  text-align: center;
  font-style: normal;
  font-family: courier;
  font-size: 28px;
}
ul {
  text-align: left;
  font-family: courier;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.square2{
  width: 680px;
  height: 280px;
  background-color: blue;
  margin-top: -300px;
  margin-left: 750px;
  color: white;
  padding: 10px;
  background-color: lightgreen;
}
h5{
  margin-top: 10px;
  color: darkblue;
  text-align: center;
  font-style: normal;
  font-family: courier;
  font-size: 28px;
}
